
<%- include("./partials/header")%>

     <div class="container mt-3">
       <%- include("./partials/flash")%>
       <h1> This is a error page </h1>
     </div>
    


<%- include("./partials/footer")%>